In [8]:
# Importation des bibliothèques
import pandas as pd

In [9]:
# Chargement des données
df = pd.read_excel('Base_ISM_PARIS_301224.xlsx')

In [10]:
# Afficher les premières lignes pour vérifie
df.head()

,hh1,hh2,a0,pond,strate,milieu,b05_region,f1,f0,g1,...,ep,v02new,education,diplome,age,deplog,depalim,bien,depenseM,P0
0,1,1,1,649.757758,ville d'Abidjan,Urbain,district autonome d'abidjan,non,NaN,non,...,Emploi permanent,Abidjan,aucun,0,38,414000.0,1.280935e+06,0.0,2268735.00,Non pauvre
1,1,2,1,860.465088,ville d'Abidjan,Urbain,district autonome d'abidjan,non,NaN,non,...,NaN,Abidjan,superieur,deug/dues/duel,24,354500.0,8.162167e+05,0.0,1655716.75,Non pauvre
2,1,3,1,789.849333,ville d'Abidjan,Urbain,district autonome d'abidjan,non,NaN,non,...,Emploi permanent,Abidjan,aucun,0,28,399500.0,7.818000e+05,0.0,1719700.00,Non pauvre
3,1,4,1,712.474380,ville d'Abidjan,Urbain,district autonome d'abidjan,non,NaN,non,...,Emploi permanent,Abidjan,superieur,deug/dues/duel,40,482000.0,7.367000e+05,0.0,2227500.00,Non pauvre
4,1,5,1,789.849333,ville d'Abidjan,Urbain,district autonome d'abidjan,non,NaN,non,...,Emploi permanent,Abidjan,secondaire,bepc,27,419000.0,3.600000e+05,NaN,1027400.00,Non pauvre

# Exploration de données

In [11]:
# Information générale
print(df.info())
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12899 entries, 0 to 12898
Data columns (total 52 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hh1         12899 non-null  int64
 1   hh2         12899 non-null  int64
 2   a0          12899 non-null  int64
 3   pond        12899 non-null  float64
 4   strate      12899 non-null  object
 5   milieu      12899 non-null  object
 6   b05_region  12899 non-null  object
 7   f1          12899 non-null  object
 8   f0          2659 non-null   float64
 9   g1          12899 non-null  object
 10  h1          12899 non-null  object
 11  hhsize      12899 non-null  int64
 12  a1          12899 non-null  object
 13  gage        12899 non-null  object
 14  a5          12899 non-null  object
 15  a6_ethpays  12899 non-null  object
 16  a7          12899 non-null  object
 17  a8a         12899 non-null  object
 18  a9a         12899 non-null  object
 19  a10a        12899 non-null  object
 20  a11a        12899 non-null  object
 21  a12a        12899 non-null  object
 22  cq1a        12899 non-null  object
 23  cq2a        12899 non-null  object
 24  cq4         12899 non-null  object
 25  cq18a       12899 non-null  object
 26  cq19a       12899 non-null  object
 27  cq20a       12899 non-null  object
 28  cq21a       12899 non-null  object
 29  cq22a       12899 non-null  object
 30  cq23a       12899 non-null  object
 31  cq24a       12899 non-null  object
 32  cq25        105 non-null    object
 33  dq1         12899 non-null  object
 34  dq3         12899 non-null  object
 35  dq4         12899 non-null  object
 36  ja1         12899 non-null  object
 37  ja4         12899 non-null  object
 38  ja6         12899 non-null  object
 39  popemp      12891 non-null  object
 40  secteur     10047 non-null  object
 41  sectinst    10047 non-null  object
 42  ep          9002 non-null   object
 43  v02new      12899 non-null  object
 44  education   12797 non-null  object
 45  diplome     12899 non-null  object
 46  age         12899 non-null  int64
 47  deplog      12899 non-null  float64
 48  depalim     12852 non-null  float64
 49  bien        12275 non-null  float64
 50  depenseM    12899 non-null  float64
 51  P0          12899 non-null  object
dtypes: float64(6), int64(5), object(41)
memory usage: 5.1+ MB
None
                 hh1           hh2       a0          pond           strate  \
count   12899.000000  12899.000000  12899.0  12899.000000            12899
unique           NaN           NaN      NaN           NaN               33
top              NaN           NaN      NaN           NaN  ville d'Abidjan
freq             NaN           NaN      NaN           NaN             1188
mean      538.029925      6.499651      1.0    473.182404              NaN
std       310.331081      3.452093      0.0    343.302001              NaN
min         1.000000      1.000000      1.0     14.120940              NaN
25%       269.000000      3.500000      1.0    225.685295              NaN
50%       538.000000      6.000000      1.0    395.527220              NaN
75%       807.000000      9.000000      1.0    624.578024              NaN
max      1075.000000     12.000000      1.0   2889.133490              NaN

       milieu                   b05_region     f1           f0     g1  ...  \
count   12899                        12899  12899  2659.000000  12899  ...
unique      2                           33      2          NaN      3  ...
top     Rural  district autonome d'abidjan    non          NaN    non  ...
freq     7115                         1346  10240          NaN  11044  ...
mean      NaN                          NaN    NaN     1.104927    NaN  ...
std       NaN                          NaN    NaN     0.361694    NaN  ...
min       NaN                          NaN    NaN     1.000000    NaN  ...
25%       NaN                          NaN    NaN     1.000000    NaN  ...
50%       NaN                          NaN    NaN     1.000000    NaN  ...
75%       NaN                          NaN    NaN     1.000000    NaN  ...
max       NaN                          NaN    NaN     5.000000    NaN  ...

                      ep  v02new education diplome           age  \
count               9002   12899     12797   12899  12899.000000
unique                 2       3         4      20           NaN
top     Emploi permanent   Rural     aucun       0           NaN
freq                8254    7115      7628    7625           NaN
mean                 NaN     NaN       NaN     NaN     41.088534
std                  NaN     NaN       NaN     NaN     14.571304
min                  NaN     NaN       NaN     NaN     12.000000
25%                  NaN     NaN       NaN     NaN     30.000000
50%                  NaN     NaN       NaN     NaN     38.000000
75%                  NaN     NaN       NaN     NaN     50.000000
max                  NaN     NaN       NaN     NaN    120.000000

              deplog       depalim           bien      depenseM          P0
count   1.289900e+04  1.285200e+04   12275.000000  1.289900e+04       12899
unique           NaN           NaN            NaN           NaN           2
top              NaN           NaN            NaN           NaN  Non pauvre
freq             NaN           NaN            NaN           NaN        8222
mean    1.794975e+05  5.364440e+05    9166.813783  1.153281e+06         NaN
std     3.113974e+05  3.666488e+05   12736.199630  9.997202e+05         NaN
min     1.200000e+04  0.000000e+00       0.000000  3.098793e+04         NaN
25%     5.023220e+04  2.840813e+05     264.629639  5.959128e+05         NaN
50%     8.504417e+04  4.706557e+05    4841.003479  9.184148e+05         NaN
75%     1.920000e+05  7.164947e+05   12024.635315  1.395069e+06         NaN
max     9.910000e+06  4.856202e+06  115608.121063  1.870530e+07         NaN

[11 rows x 52 columns]

In [12]:
# Vérification des valeurs manquantes
missing_values = df.isnull().sum()
print(missing_values)

hh1               0
hh2               0
a0                0
pond              0
strate            0
milieu            0
b05_region        0
f1                0
f0            10240
g1                0
h1                0
hhsize            0
a1                0
gage              0
a5                0
a6_ethpays        0
a7                0
a8a               0
a9a               0
a10a              0
a11a              0
a12a              0
cq1a              0
cq2a              0
cq4               0
cq18a             0
cq19a             0
cq20a             0
cq21a             0
cq22a             0
cq23a             0
cq24a             0
cq25          12794
dq1               0
dq3               0
dq4               0
ja1               0
ja4               0
ja6               0
popemp            8
secteur        2852
sectinst       2852
ep             3897
v02new            0
education       102
diplome           0
age               0
deplog            0
depalim          47
bien            624
depenseM          0
P0                0
dtype: int64

In [14]:
# Traitement de la variable 'f0'
df['f0'] = df['f0'].fillna(0)

# Traitement de la variable 'bien'
df['bien'] = df['bien'].fillna(df['bien'].median())

print(df[['f0', 'bien']].isnull().sum())

f0      0
bien    0
dtype: int64